<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	 <test thread-count="5" name="baseTest">
    <classes>
    	 <class name="Logintrial.BaseTest"></class>
		</classes>
	</test>

  <test thread-count="5" name="loginTest">
    <classes>
		<class name="Logintrial.LoginTab"></class>
		</classes>
	</test>

 <test thread-count="5" name="searchproductTest">     
 <classes>
      <class name="Logintrial.SearchProduct"></class>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
